<%-include('../partials/userheader') %>

<style>
    .main-content{
        min-height: 600px;
    }
</style>

<div class="container main-content py-5 ">
    <h5>My Wishlist</h5>
    <table class="table mt-5 ">
        <thead class="table-secondary">
          <tr>
            <th scope="col"></th>
            <th scope="col">Product</th>
            <th scope="col">Amount</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th></th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>werv</td>
            <td>vrre</td>
          </tr>
        </tbody>
      </table>
</div>

<%-include('../partials/userFooter') %>
